@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.my-outer-container {
  min-width: 100vw;
  min-height: calc(100vh - 58px);
  background-color: #040404;
  overflow-x: hidden;
}

.my-inner-container {
  max-width: 1200px;
  margin: auto;
}

.td-n {
  color: white;
  text-decoration: none;
}

.section-heading {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  margin: 0 0 10px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.heading-line {
  display: inline-block;
  width: 85px;
  height: 1px;
  background-color: #18d26e;
}

.sub-desc {
  font-size: 28px;
  line-height: 28px;
  font-weight: bold;
}

.text-20 {
  font-size: 20px;
}

@media (max-width: 426px) {
  .sub-desc {
    font-size: 24px;
    line-height: 28px;
  }
}
